include AUTHORS
include LICENSE
include README.rst
include HISTORY
recursive-include ripiu/cmsplugin_iubenda/migrations *
recursive-include ripiu/cmsplugin_iubenda/templates *
recursive-include ripiu/cmsplugin_iubenda/static *
recursive-include ripiu/cmsplugin_iubenda/locale *